*{

}

body{
    background-color: rgb(95, 55, 158);
    font-size: 16px;
    color:  rgb(57, 11, 63);
    
}
header{
    background-color: rgb(188, 129, 236);
    color: rgb(245, 11, 245);
    height: 4em;
}
