*{

}

body{
    background-color: rgb(133, 83, 106);
    font-size: 16px;
    color:  rgb(18, 18, 19);
    font-family: sans-serif;
    
}
header{
    background-color: rgb(165, 121, 194);
    color: rgb(104, 51, 104);
    height: 4em;
}

header h1{
    text-align: center;
}

img{
    width:50%;
    border-radius: 30px;
}


