*{

}

body{
    background-color: rgb(209, 22, 22);
    font-size: 16px;
    color:  rgb(23, 160, 160);
    font-family: sans-serif;
    
}
header{
    background-color: rgb(165, 121, 194);
    color: rgb(2, 2, 2);
    height: 4em;
}

header h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

img{
    width:50%;
    border-radius: 30px;
}


